<% provide(:title, 'All Posts') %>
<aside class="col-md-8 col-md-offset-2">
  <div class="page-header">
    <h1>All Posts</h1>
  </div>
  <%= will_paginate %>
  <% @posts.each do |post| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3><%= post.title %></h3>
      </div>
      <div class="panel-body">
        <div class="posts">
          <div class="post_content">
            <%= post.content %>
          </div>
          <div class="post_infos">
            <p><%= link_to "See more", post_path(post.id) %></p>
            <p>Created at : <%= post.created_at %> by <%= post.user.name %></p>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <%= will_paginate %>
</aside>

